/* Google Font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* Global CSS  */

body {
  font-family: "Poppins", sans-serif;
}

.section-padding {
  padding: 64px 0;
}

.text-red {
  color: #e76f51;
}

hr {
  width: 58px;
  height: 2px;
  background-color: #e76f51;
  opacity: 1;
}

.bike-margin {
  margin-top: 116px;
}

.img-filter-1 {
  filter: hue-rotate(45deg);
}

.img-filter-2 {
  filter: hue-rotate(270deg);
}

.rating {
  color: #e77c40;
}

.client-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #23a6f0;
}

.job {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #252b42;
}

.faq-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #383838;
}

.faq-title:focus {
  outline: none;
  box-shadow: none;
}

.faq-text {
  font-size: 16px;
  line-height: 28px;
  color: #7e848c;
}

.header-bg{
  background: #264653;
}

.hero-area {
  height: 698px;
}

.section-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
}

.custom-btn {
  padding: 10px 46px;
  background: #e76f51;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.header-img-box {
  background-image: url("images/rectangle.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  text-align: center;
}

.custom-card{
    width: 20rem;
  }

.input-email {
  width: 50%;
}

/* Responsive CSS  */
@media (max-width: 575.98px) {
  .hero-area {
  
  height: 698px;
}
  .section-title {
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 2px;
  }

  .custom-card{
    width: 18rem;
  }

  .input-email {
    width: 100%;
  }
}
